<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Depends | What RubyGems depends on gems you depend on?</title>
  </head>
  <body>
    <p>
      What RubyGems depends on gems you depend on?
    </p>
    <%= yield %>
  </body>
</html>
